body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.profile {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    background: linear-gradient(#4287f5 0%, #05b534 100%);
    height: 800px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    z-index: 9;
}

#bio {
    padding: 120px;
    padding-left: 700px;
    text-align: center;
    font-size: 25px;
    max-width: 550px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.menu {
   list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index:10;
    cursor: pointer;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}



.links:hover {
    background-color: coral;
}
html{
scroll-behavior: smooth;
}
